@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
}
body {
    background-color:#FFFFFF;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

.botoes{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-end;
    justify-content: flex-end;
}

button {
    width: 150px;
    height: 40px;
    margin: 10px;
    border-radius: 6px;
    background-color: #0a98fe27;
    border: none;
    color: #0A99FE;
    font-size: 20px;
}


button:hover {
    background-color: #0A99FE;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.menuTopo{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.cabecalho{
    display: flex;
    margin-top: 100px;
    padding: 15px;
}
header {
    border-bottom: black solid 2px; 
    background-color: #FFFFFF;
    text-align: left;
    width: 100vw;
}

.sessaoTituloQuadros{
    color: #1B1B1B;
    font-size: 20px;
    padding: 20px;
}
.sessaoTituloFigures{
    color: #1B1B1B;
    font-size: 20px;
    padding: 20px;
}

.sessaoCardQuadros {
    height: 300px;
    overflow-x: auto;
}

.sessaoCardFigures {
    height: 300px;
    overflow-x: auto;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
}

div {
    margin-left: 10px;
    margin-right: 10px;
    width: 207px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    border-radius: 6px;
}

img {
    height: 150px;
    width: 207px;
}

.tituloItem{
    padding: 10px;
    font-size: 20px;
    color: #1B1B1B
}

.valorItem{
    color: #868383;
    font-size: 16px;
}
